@model PizzaFormModel

<div class="container">
    <form asp-controller="Pizza" asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="validation-summary-errors" asp-validation-summary="All"></div>
        <div class="mb-3">
            <strong>Nome:</strong>
            <input asp-for="Pizzas.Name" class="d-block w-100" />
        </div>
        <div class="mb-3">
            <strong>Descrizione:</strong>
            <input asp-for="Pizzas.Description" class="d-block w-100" />
        </div>
        <div class="mb-3">
            <strong>Prezzo:</strong>
            <input asp-for="Pizzas.Price" class="d-block w-100" />
        </div>
        <div class="mb-3">
            <strong>Link Immagine:</strong>
            <input asp-for="Pizzas.Image" class="d-block w-100" />
        </div>

        <div class="mb-3">
            <strong>Categoria:</strong>
            <select asp-for="Pizzas.CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))">
                <option value="" disabled selected hidden>Please select a category</option>
            </select>
        </div>
        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" value="Save">
        </div>
    </form>
</div>
